<h2 mat-dialog-title class="bg-green">Add Environment</h2>
<mat-dialog-content [formGroup]="form">

  <div class="d-flex flex-column">
    <mat-form-field class="mt-4">
      <mat-label>Environment Name:</mat-label>
      <input matInput placeholder="SIT5" formControlName="name">
    </mat-form-field>

    <mat-form-field class="mt-4">
      <mat-label>Description:</mat-label>
      <textarea matInput placeholder="Environment usuage..." formControlName="description"></textarea>
    </mat-form-field>

  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="primary" (click)="addEnvironment()" [disabled]="!form.valid">Save</button>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>

