<div class="container-fluid m-4 p-4">
  <div class="row">
    <p>Monday:</p>
    <app-environment/>
  </div>
  <!--  <div class="row">-->
  <!--    <p>Tuesday:</p>-->
  <!--    <app-environment/>-->

  <!--  </div>-->
  <!--  <div class="row">-->
  <!--    <p>Wednesday:</p>-->
  <!--    <app-environment/>-->

  <!--  </div>-->
  <!--  <div class="row">-->
  <!--    <p>Thursday:</p>-->
  <!--    <app-environment/>-->

  <!--  </div>-->
  <!--  <div class="row">-->
  <!--    <p>Friday:</p>-->
  <!--    <app-environment/>-->

  <!--  </div>-->
</div>
