<div class="row ">
  <div *ngFor="let booking of bookingsByEnvironment" class="col ">
    <div class="card " style="width: 18rem;">
      <div class="card-body bg-light">
        <h5 class="card-title text-center">{{ booking.environment }}</h5>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th>User</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Reason</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let details of booking.bookings">
          <td>{{ details.username }}</td>
          <td>{{ details.startTime }}</td>
          <td>{{ details.endTime }}</td>
          <td>{{ details.reason }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
