<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img ngSrc="assets/logo.png" alt="Logo" width="240" class="rounded-5 cursor" height="120" routerLink="/" priority>
    <!--    <a class="navbar-brand" href="#">Environment Dashboard</a>-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button mat-button (click)="addUser()">Add User</button>
        </li>
        <li class="nav-item">
          <button mat-button (click)="addEnvironment()">Add Environment</button>
        </li>
        <li class="nav-item">
          <a mat-raised-button class="nav-link" (click)="addBooking()">Book Slot</a>
        </li>

        <div class="d-flex">
          <li class="nav-item">
            <a mat-button routerLink="/user-manager">User Manager</a>
          </li>
          <li class="nav-item">
            <a mat-button routerLink="/environment-manager">Environment Manager</a>
          </li>
        </div>

      </ul>
    </div>
  </div>
</nav>



